:root {
	/* COLORS */
	--clr-primary: rgb(0, 121, 255);

	/* Light mode */
	--clr-dark: #2b3442;
	--clr-light: #f6f8ff;
	--clr-white: #fefefe;
	--clr-gray: #697c9a;
	--clr-blue-gray: #4b6a9b;

	/* dark mode */
	--clr-white-dm: #ffffff;
	--clr-dark-dm: #141d2f;
	--clr-dark-blue-dm: #1e2a47;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}
body,
body *,
body *::after,
body *::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Space Mono', monospace;
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 1.6667;
	/* min-height: 100vh; */
	background-color: var(--clr-light);

	/* display: flex;
	justify-content: center;
	align-items: center; */
}

h1 {
	font-size: 2.6rem;
	font-weight: 700;
	line-height: 1.4615;
}

h2 {
	font-size: 2.2rem;
	font-weight: 700;
	line-height: 1.5;
}

h3 {
	font-size: 1.6rem;
	line-height: 1.5;
}

h4 {
	font-size: 1.3rem;
	line-height: 1.5384;
}

input::placeholder {
	font-family: 'Space Mono', monospace;
	color: var(--clr-blue-gray);
	font-size: 1.3rem;
	font-weight: 400;
}

.list {
	list-style: none;
}
